div Chat
#chat
	#nickname
		form.wrap#set-nickname
			p Please type in your nickname and press enter.
			input#nick
			p#nickname-err Nickname already in use
	#connecting
		.wrap Connecting to socket.io server
	#messages
		#nicknames
		#lines
	form#send-message
		input#message
		button Send
script(src="/socket.io/socket.io.js")
