header
	h2!= roomName
#video
	video(width="980", height="424", controls="true", uatobuffer="true")#cinema
		source(src="/video/demo.mp4", type="video/mp4")
#ambilight
	#glow
		#chairs
			#man1
			#man2
			#woman1