header
	h2!= roomName
#video
	video(width="980", height="424", autoplay="autoplay", uatobuffer="true")#cinema
		source(src="http://solsig.com:8000/theora.ogg", type="video/ogg")
#ambilight
	#glow
		#chairs
			#man1
			#man2
			#woman1
